<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav">
    <%= render collapsible_links_partial_path %>
  </ul>

  <ul class="nav navbar-nav navbar-right">
  </ul>
</div><!-- /.navbar-collapse -->